<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sun.mapper.StudentMapper">
    <!--cache-对给定命名空间的缓存配置-->
    <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true" type="com.sun.cache.MyCustomCache">
        <property name="cacheFile" value="/Users/sunzheng/tmp/my-custom-cache.tmp"/>
    </cache>
    <!--cache-ref – 对其他命名空间缓存配置的引用-->
    <cache-ref namespace=""/>

    <resultMap type="Student" id="studentMap" >
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <!--sql – 可被其他语句引用的可重用语句块。-->
    <sql id="resultSql">

    </sql>

    <select id="selectById" resultType="Student" >
        select
        <include refid="resultSql"/>
        from Student where id = #{id}
    </select>
</mapper>